@keyframes slide_link_animation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes animation_nav_bar_active {
    0% {
        height: 0px;
        opacity: 0;
    }

    100% {
        height: 255px;
        opacity: 1;
    }
}