footer {
    width: 100%;
    background-color: var(--cl_01);
    padding: 10px;
}

footer .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .container p {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 3px;
    color: var(--cl_02);
    text-align: center;
}

footer .container p > .icon {
    color: red;
}