@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cl_00: #C43794;
    --cl_01: #1A1A1A;
    --cl_02: #FFFFFF;
    --cl_03: #FEFEFE;
    --cl_04: #F5F5F5;
}