@media (max-width: 900px) {
    main .container-inicio {
        flex-direction: column;
    }

    main .container-inicio .content {
        align-items: center;
        justify-content: center;
    }

    main .container-inicio .content h1 {
        text-indent: 0px !important;
        text-align: center;
    }
}

@media (max-width: 800px) {
    header.active .mobile-menu ul li a {
        color: var(--cl_02) !important;
    }

    header nav ul {
        display: none;
    }

    header nav .mobile-menu-icon {
        display: block;
    }
    
    header .mobile-menu.active {
        animation: animation_nav_bar_active 500ms ease-in-out forwards;
    }

    .active {
        display: block !important;
    }

    main section h1 {
        text-align: center;
    }
}